* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  background-color: #e0e8ff;
  background-image: url(./Imagenes/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.imagen1 img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.contenedor1 {
  background-color: #f5f7ff;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 420px;
  height: 600px;
  border-radius: 10px;
}
.imagen2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 420px;
}

.titulo {
  font-size: 2rem;
  margin-top: 25px;
}
.parrafo {
  height: 100px;
  width: 330px;
  text-align: center;
  font-size: 1rem;
  margin-top: 15px;
  color: #7580a7;
}

.contenedor2 {
  width: 350px;
  height: 60px;
  background-color: #eceef0;
  display: flex;
  justify-content: space-evenly;

  border-radius: 10px;
}
.imagen3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion1 {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo2 {
  font-size: 1rem;
}
.parrafo2 {
  font-size: 1rem;
  color: #7280a7;
}
.seccion2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parrafo3 {
  font-size: 14px;
  color: #3829e0;
  font-weight: bold;
}
.contenedor3 {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.boton1 {
  background-color: #3829e0;
  font-size: 1rem;
  width: 350px;
  height: 50px;
  color: #f5f7ff;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
  margin: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.boton2 {
  background-color: #f5f7ff;
  font-size: 1rem;
  width: 350px;
  height: 50px;
  color: #7280a7;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
}
